PyQt5 
PyQt5-tools
pyautogui
pyttsx3
speech_recognition as sr
datetime
os
pyjokes
requests
smtplib
webbrowser
wikipedia
bs4
pywikihow 
psutil
pywhatkit 
sys  
tkinter 
pytube 
playsound 
import keyboard
googletrans 
wolframalpha
plyer 
